@import url("//db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A");

.MuiAccordion-gutters {
    box-shadow: none !important;
    border-radius: none !important;
}

.MuiAccordionSummary-root {
    border-bottom: 1px solid #bdbdbd !important;
}

.MuiPaper-root::before {
    display: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}

/* Skeleton */
@media (max-width: 650px) {
    .skeleton {
        width: 100% !important;
    }

    .skeleton_home {
        width: 100% !important;
    }

    .skeleton_home_res {
        display: none !important;
    }
}